[metadata]
name = lo-extension-dev
version = attr: lo_extension_dev.__version__
author = Bastien Roques
url = https://palaceweb.fr
description = Simple tool to help developing LibreOffice Extension.
long_description = file: README.rst
long_description_content_type = text/x-rst
keywords = extension, libreoffice, development
license = MIT License
classifiers =
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",

[options]
packages=find:
package_dir=
    =src
install_requires =
    argparse

[options.packages.find]
where=src

[options.package_data]
* = *.txt, *.rst
hello = *.msg

;[options.entry_points]
;console_scripts =
;    manage = lo-extension-dev.manage:main
