:root {
    --selnode: #208fb7;
    --hovernode: #e5e5e5;
    --fontcolor:grey;
    --fontselcolor:#ffffff;
  }
.jstree-themeicon.jstree-themeicon-custom {
    background-size:contain!important  
}
html{
    border-style: solid;
    border-width: 1px;
    border-color: var(--fontcolor);
    border-radius: 5px;
}
#root{
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--fontcolor);
}

.jstree-anchor.jstree-clicked{
    background-color: var(--selnode)!important;
    border-radius: 5px;
    color: var(--fontselcolor);
}
.jstree-anchor.jstree-hovered{
    background-color: var(--hovernode);
    border-radius: 5px;
}
.jstree-default .jstree-anchor, .jstree-default .jstree-wholerow {
    transition: none!important;
}
.jstree-clicked .dbicon,.jstree-clicked .schema,.jstree-clicked .table, .jstree-clicked .view {
    background-color:var(--fontselcolor)!important;
  }
.dbicon {
    background-color: var(--fontcolor)!important;
    -webkit-mask: url(img/db.svg) no-repeat center;
    mask: url(db.svg) no-repeat center;
  }
.schema {
background-color: var(--fontcolor)!important;
-webkit-mask: url(img/schema.svg) no-repeat center;
mask: url(img/schema.svg) no-repeat center;
}
.table {
background-color: var(--fontcolor)!important;
-webkit-mask: url(img/table.svg) no-repeat center;
mask: url(img/table.svg) no-repeat center;
}
.view {
background-color: var(--fontcolor)!important;
-webkit-mask: url(img/view.svg) no-repeat center;
mask: url(img/view.svg) no-repeat center;
}  

